@import "tailwindcss";

@keyframes rise {
    0% {
        transform: translateY(20px) scale(0.8);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(-40px) scale(1);
        opacity: 0;
    }
}

.animate-rise {
    animation: rise 2s ease-out forwards;
}
